/* .row {
    margin-bottom: 30px;
    padding-bottom: 30px;
} */

.scores {
    margin-bottom: 10px;
}

.amount {
    border-style: dotted;
    padding: 10px;
    border-radius: 50%;
    border-color: #FF6B6D;
    
}


    


/* .mainheader,.lead {
    color: aliceblue
} */



.cont {
    /* border-style: dotted;
    border-color: #484860; */
   /* margin: 2px; */
   
}

.card {
    border-color: #FF6B6D;
    margin-bottom: 30px;
    margin-top: 30px;
}

.card-header {
    border-color: #FF6B6D;
    background-color: #FF6B6D;
    color: #FFFFFF;
}

#button {
    border-color: #FF3B91;
    background-color: #FF3B91;
}

.allcrystals {
    /* border: #484860 2px solid; */
    height: 100px;
    width: 100%;
    float: left;
    text-align: center;
}

.allcrystals:hover {
    cursor: pointer;
}

.jumbotron {
    background-image: linear-gradient(to right bottom, #dd2bb8, #ff2a76, #ff742d, #f4b600, #a8eb12);
}

/* .btn:focus, .btn:active {
    outline: #a8eb12 !important;
    box-shadow: #f4b600  !important;
  } */

  .header {
      color: #FFFFFF;
  }


